<h1>Editing Leader</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @leader, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', leaders_path, class: "btn btn-default" %>

