<h1>Editing Lkup Sugg Status</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @lkup_sugg_status, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', lkup_sugg_statuses_path, class: "btn btn-default" %>

