<h1>Editing Ci Review</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @ci_review, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', ci_reviews_path, class: "btn btn-default" %>

