<h1>Editing Cilisting1</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @cilisting1, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', cilisting1s_path, class: "btn btn-default" %>

